.movie-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(249, 249, 249, 1);
  padding: 6px 6px 6px 22px;
  margin: 0 0 40px 0;
}

.movie-card:last-child {
  margin: 0;
}

.movie-card__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 8px 0 13px;
}

.movie-card__duration {
  font-size: 11px;
  line-height: 13px;
  color: rgba(160, 160, 160, 1);
  margin: 0 0 30px;
}

.movie-card__like-button {
  border: none;
  background: transparent;
  width: 14px;
  height: 12px;
  background: url('./../../images/movie-like-btn.svg');
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.movie-card__like-button_active {
  background: url('./../../images/movie-like-btn_active.svg');
}

.movie-card__like-button_remove {
  background: url('./../../images/movie-like-btn_remove.svg');
}

.movie-card__link-cover {
  position: relative;
  width: 220px;
  height: 122px;
}

.movie-card__cover {
  position: absolute;
  object-fit: cover;
  width: 220px;
  height: 122px;
}

@media screen and (max-width: 500px) {
  .movie-card {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0;
    max-width: 300px;
    margin-bottom: 20px;
  }

  /* .movie-card:last-child {
    padding-bottom: 20px;
  } */

  .movie-card__cover {
    width: 300px;
    height: 168px;
  }

  .movie-card__link-cover {
    width: 300px;
    height: 168px;
  }

  .movie-card__title {
    margin: 0 0 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .movie-card__description {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 14px;
    padding: 0 14px;
    box-sizing: border-box;
    width: 100%;
  }

  .movie-card__duration {
    margin-bottom: 0;
  }
}