.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.profile__hello-message {
  margin: 72px auto 123px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

/* .profile__form-wrapper {
  width: 410px;

} */

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 410px
}

.edit-form__input-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 16px 0;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.edit-form__input-wrapper:last-of-type {
  padding: 16px 0 0;
  border: none;
}

.edit-form__label {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.edit-form__input {
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  outline: none;
}

.edit-form__submit-button {
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 220px auto 16px;
  padding: 0;
}

.edit-form__submit-button_disabled {
  cursor: default;
  opacity: .5;
}

.profile__sign-out {
  font-size: 13px;
  line-height: 16px;
  width: 410px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: rgba(255, 48, 85, 1);
  padding: 0;
}

@media screen and (max-width: 768px) {
  .profile__hello-message {
    margin: 236px auto 96px;
  }

  .edit-form__submit-button {
    margin-top: 210px;
  }
}

@media screen and (max-width: 450px) {
  .profile__hello-message {
    margin: 70px auto 80px;
  }

  .edit-form {
    width: 260px;
  }


  .edit-form__submit-button {
    margin-top: 379px;
    width: 100%;
  }
}