.logo {
  background: url("./../../images/logo.svg") no-repeat;
  min-width: 38px;
  min-height: 38px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .2s linear;
}

.logo:hover {
  opacity: .7;
}