.filter-checkbox {
  border-left: 1px solid rgba(232, 232, 232, 1);
  padding: 0 0 0 29px;
  height: 20px;
}

.filter-checkbox__container {
  display: flex;
  align-items: center;
}

.filter-checkbox__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0 11px 0 14px;
}

.filter-checkbox__checkbox-hidden {
  position: absolute;
  width: 100px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
  height: 110px;
  /* overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя */
  clip: rect(0 0 0 0);
}

.custom-checkbox {
  display: flex;
  align-items: center;
  background-color: rgba(235, 235, 235, 1);
  border-radius: 20px;
  width: 36px;
  height: 20px;
  position: relative;
  padding: 2px 0;
  box-sizing: border-box;
  justify-content: flex-start;
  cursor: pointer;
}

.custom-checkbox__circle {
  position: absolute;
  margin: 0 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: rgba(43, 224, 128, 1);
  transition: .2s ease-in;
  transform: translateX(0%);
}

.custom-checkbox__circle_active {
  transform: translateX(80%);
}

@media screen and (max-width: 768px) {
  .filter-checkbox {
    padding-left: 19px;

  }

  .filter-checkbox__description {
    margin: 0 1px 0 15px;
  }
}

@media screen and (max-width: 600px) {
  .filter-checkbox {
    border: none;
    position: absolute;
    margin: 92px auto 0;
    padding: 0;
  }

  .filter-checkbox__description {
    font-size: 11px;
    line-height: 18px;
  }
}